@charset "UTF-8";
@font-face {
	font-family: "rsubold";
	src: url('rsu_bold-webfont.woff2') format('woff2'),
			 url('rsu_bold-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "rsuregular";
	src: url('rsu_regular-webfont.woff2') format('woff2'),
			 url('rsu_regular-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'THSarabunNew';
	src: url('thsarabunnew-webfont.eot');
	src: url('thsarabunnew-webfont.eot?#iefix') format('embedded-opentype'),
			 url('thsarabunnew-webfont.woff') format('woff'),
			 url('thsarabunnew-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'THSarabunNew';
	src: url('thsarabunnew_bolditalic-webfont.eot');
	src: url('thsarabunnew_bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
			 url('thsarabunnew_bolditalic-webfont.woff') format('woff'),
			 url('thsarabunnew_bolditalic-webfont.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;

}

@font-face {
	font-family: 'THSarabunNew';
	src: url('thsarabunnew_italic-webfont.eot');
	src: url('thsarabunnew_italic-webfont.eot?#iefix') format('embedded-opentype'),
			 url('thsarabunnew_italic-webfont.woff') format('woff'),
			 url('thsarabunnew_italic-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;

}

@font-face {
	font-family: 'THSarabunNew';
	src: url('thsarabunnew_bold-webfont.eot');
	src: url('thsarabunnew_bold-webfont.eot?#iefix') format('embedded-opentype'),
			 url('thsarabunnew_bold-webfont.woff') format('woff'),
			 url('thsarabunnew_bold-webfont.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;

}

body, html {
	overflow-x: initial !important;
}

body {
	font: 15px/1.6em sans-serif;
	color: #222;
	background-color: #e4e4e4;
}

h1,h2,h3,h4,h5,h6, nav, .button, .price, ._heading{
	font-family: "rsuregular",  sans-serif;
	font-weight: normal;
}

.menu {
	font-family: "rsubold";
}

h1,h2,h3,h4,h5{line-height: 1.3;margin: 0 0 1.5rem;}
h1{font-size: 1.8em;}
h2{font-size: 1.6em;}
h3{font-size: 1.4em;}
h4{font-size: 16px;}
h5{font-size: 14px;}

a{
	color: #254655;
	transition: 300ms;
}
a:hover{
	color: #B0B0B0;
	text-decoration: none;
}
a:active,a:focus {
	color: #EAEAEA;
	text-decoration: none;
}
legend {
	border-bottom: none;
}
h2 label, h3 label, h4 label {
	font-weight: inherit;
}
textarea:focus, input:focus, *:focus {
	outline: none;
}
.container .container {
	width: 100%;
	padding-left: 0;
	padding-right: 0;	
}

@media (min-width:992px){
	.site.-layout-boxed {
		max-width: 1000px;
		margin: 40px auto;
		box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
	}
	.site.-layout-boxed.-header-desktop-fixed{
		margin: 0 auto;
	}
}
@media (min-width:1200px){
	.container{width:1120px}
	.site.-layout-boxed .container{width:970px}
}

/* Off-Canvas Menu: Slidebars 0.10.3 (http://plugins.adchsm.me/slidebars/) */
.site-canvas,.sb-site-container,.sb-slidebar,body,html{margin:0;padding:0;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}body,html{width:100%;overflow-x:hidden}html{height:100%}body{min-height:100%;height:auto;position:relative}html.sb-scroll-lock.sb-active:not(.sb-static){overflow:hidden}.site-canvas,.sb-site-container{width:100%;min-height:100vh;position:relative;z-index:1;background-color:#fff}.site-canvas:after,.site-canvas:before,.sb-site-container:after,.sb-site-container:before{content:' ';display:table;clear:both}.sb-slidebar{height:100%;overflow-y:auto;position:fixed;top:0;z-index:0;display:none;background-color:#222}.sb-slidebar,.sb-slidebar *{-webkit-transform:translateZ(0px)}.sb-left{left:0}.sb-right{right:0}.sb-slidebar.sb-static,html.sb-static .sb-slidebar{position:absolute}.sb-slidebar.sb-active{display:block !important}.sb-style-overlay{z-index:9999}.sb-momentum-scrolling{-webkit-overflow-scrolling:touch}.sb-slidebar{width:30%}.sb-width-thin{width:15%}.sb-width-wide{width:45%}@media (max-width:480px){.sb-slidebar{width:70%}.sb-width-thin{width:55%}.sb-width-wide{width:85%}}@media (min-width:481px){.sb-slidebar{width:55%}.sb-width-thin{width:40%}.sb-width-wide{width:70%}}@media (min-width:768px){.sb-slidebar{width:40%}.sb-width-thin{width:25%}.sb-width-wide{width:55%}}@media (min-width:992px){.sb-slidebar{width:30%}.sb-width-thin{width:15%}.sb-width-wide{width:45%}}@media (min-width:1200px){.sb-slidebar{width:20%}.sb-width-thin{width:5%}.sb-width-wide{width:35%}}.site-canvas,.sb-site-container,.sb-slide,.sb-slidebar{-webkit-transform:translate(0px);-moz-transform:translate(0px);-o-transform:translate(0px);transform:translate(0px);-webkit-transition:-webkit-transform 400ms ease;-moz-transition:-moz-transform 400ms ease;-o-transition:-o-transform 400ms ease;transition:transform 400ms ease;-webkit-transition-property:-webkit-transform,left,right;-webkit-backface-visibility:hidden}.sb-hide{display:none}